
{% extends "layout.html" %}

{% block content %}

<script type=text/javascript>

$(window).load(onWindowLoad)

var ip
var processid
var task
var interval
var upload_type
var IsPush=false
var TargetPort
var App_Path
function onWindowLoad(){
  //var xhttp = new XMLHttpRequest();
 // xhttp.onreadystatechange = function() {
   // if (this.readyState == 4 && this.status == 200) {
   // myFunction(this);
    //}
 // };
 // xhttp.open("GET","/static/scripts/Config.xml",true);
  //xhttp.open("GET","/Config.xml",true);
 // xhttp.send();
  
  console.log("window initialized") 
  $("#btnLoad").click(load)
  $("#btnDockerize").click(dockerizeApplication)
  $("#btnRun").click(runApplication)
  $.ajaxSetup({ cache: false });
}

function myFunction(xml) {

  var i;
  var xmlDoc = xml.responseXML;
  txt = xmlDoc.getElementsByTagName("IpAddress")[0].childNodes[0].nodeValue;
  ip=txt


}

function environmentSettingsOnFocus()
{
 
var EnvironmentVariables=document.getElementById("env_settings").value;
if ((/^\w+(,\w+)*$/.test(EnvironmentVariables)) || EnvironmentVariables===''){
    var values = EnvironmentVariables.split(',');  
}
else
{
 alert("Invalid input. Please enter the variables in a comma seperated fashion without a trailing comma!");
 document.getElementById("env_settings").value='';
}
}

function submitDockerizeForm()
{


 var Platform=$('#platformlist').find(":selected").text();
 var Version=$('#versionlist').find(":selected").text();
 //var Port=document.getElementById("port").value;
 var Command=document.getElementById("command").value;
 var ImageName=document.getElementById("Image_Name").value;
 var Workdir=document.getElementById("workdir").value;
 var AppName=document.getElementById("app_name").value;
 var EnvironmentVariables=document.getElementById("env_settings").value;

 if (document.getElementById('docker_hub_Yes').checked) {
  IsPush = true
 }


if((Command==='') || (ImageName==='') ||(Platform=='Select Platform') ||(Version=='Select Version') ||(Workdir===''))
{
alert("Please enter appropriate details");
}
else
{
    
    $('#myModal').modal('toggle')
    createDockerFile(Platform,Version,Command,ImageName,AppName,EnvironmentVariables,Workdir)
    $("#dockerize_status").text("Application Dockerizing...")
}
}

function submitRunForm()
{
  var ImageName=document.getElementById("image_name").value;
  var Port=document.getElementById("_port").value;
  TargetPort=document.getElementById("target_port").value;
  var DeploymenType=$('#deploymentlist').find(":selected").text();
  var ContainerName=document.getElementById("container_name").value;
  
if((DeploymenType=='Select Deployment Platform') || (ContainerName==='') || (Port==='') || (ImageName==='') || (TargetPort==='') )
{
alert("Please enter appropriate details");
}
   
else
{
$('#myRunModel').modal('toggle')
if((DeploymenType=='Docker'))
{  
  run(ImageName,Port,DeploymenType,ContainerName,TargetPort)  
}

  $("#run_status").text("Application Running, Wait...")
  $("#output").text("Waiting for output...")
}
}
function populateRunForm()
{
  var DeploymenType=$('#deploymentlist').find(":selected").text();
  
  if(DeploymenType=='Docker')
  {
  document.getElementById("table1").style.visibility = "visible";
  }
  else
  {
   document.getElementById("table1").style.visibility = "hidden";
  }
}

function populatelist()
{
var platform = $('#platformlist').find(":selected").text();
var versionlist = $('#versionlist').find(":selected").text();

if(platform=='Python' && versionlist==='' )
{
var select=document.getElementById("versionlist");
select.options[select.options.length]= new Option('Select Version');
select.options[select.options.length]= new Option('2');
select.options[select.options.length]= new Option('3');
}
}

function load()
{
  $('#myLoadModal').modal('toggle')
}

function onUploadChange()
{
 //<option value='Python'>Local Machine</option>
  		 //<option value='C#'>Cloud</option> 	
	upload_type = $('#uploadlist').find(":selected").text();
	//if(upload_type=='Local Machine')
	//{
	//	loadApplication();
	//}
	if(upload_type=='Cloud')
	{
	document.getElementById("tbl_appUpload").style.visibility = "visible";	
	}
	else
	{
	document.getElementById("tbl_appUpload").style.visibility = "hidden";	
	}
}

function submitApplicationUploadForm()
{
upload_type = $('#uploadlist').find(":selected").text();

if(upload_type=='Select the mode of uploading application')
{
alert("Please select valid mode for uploading application");
}
else
{


	$('#myLoadModal').modal('toggle')
    if(upload_type=='Local Machine')
	{
		loadApplication();
	}
	else{
	 
	
	var Url=document.getElementById("txt_url").value;
	//alert("cloud upload");

	if(Url==='')
	{
		alert("Please enter the url");
	}
	else
	{
	$("#load_status").text("Application Loading...")
	$.ajax({
       // url:"http://"+ip+"/v1/CreateDockerFile",
	     url:"http://52.172.179.169/v1/UploadAppUrl",
        type:"POST",
		async: true,
        dataType:"json",
        contentType:"application/json",
		timeout:900000,
        data:
        JSON.stringify({
            Url:Url
        }),
        success:function(data, status)
        {  
		
		  if(data.status==false)
			{
				   alert("Error while loading application"); 
				 
			}
		  else{
				//alert("This is the data "+data.app_path);
				
				check_process_status(data.process,"UploadApp")
				//alert("Application successfully loaded");
				//console.log("application loaded")
				App_Path = data.app_path	
				//$("#load_status").text("Application loaded at " + App_Path)				
               
			}

    		
        },
 	error: function()
	 {
           alert("Error while loading application"); 
   	 }

    }
    )	
	}
	}
}
}
function loadApplication()
{
	
    $("input").trigger("click");
	
    file.onchange = function() {
       var name = document.getElementById('file'); 
       var files = file.files;
   	var len = files.length;
   
    var formData = new FormData();
    formData.append("file", name.files.item(0));
  
    console.log("loading application")
     $("#load_status").text("Application Loading...")

	
 $.ajax({
       url: "http://52.172.179.169/v1/UploadApp",
       type: 'POST',
       data: formData,
       async: true,
       cache: false,
       contentType: false,
       enctype: 'multipart/form-data',
       processData: false,
	   timeout:0,
       success: function(data_){
	   
	   if(data_.status==false)
	   {
	   alert("Error while loading application");
	    $("#load_status").text("Application loading failed. Retry")
	   }
	   else
	   {
	    alert("Application successfully loaded");
        console.log("application loaded")
		App_Path = data_.app_path	
        $("#load_status").text("Application loaded at " + " " +App_Path)
	   }
	 
		
       },
       error: function(jqXHR, textStatus, errorThrown) 
       {
        alert(textStatus); // this will be "timeout"
       }
  	});

}

}


function dockerizeApplication()
{
    $('#myModal').modal('toggle')

}

function runApplication()
{

    $('#myRunModel').modal('toggle')
   
}

function getMLResponse()
{
    console.log("creating response status")
    $.ajax({
        url:"http://52.172.179.169/v1/GetMlResponse",
        //url:"http://"+ip+"/v1/GetMlResponse",
        crossDomain: true,
        success:function(data, status)
        {
            $("#run_status").text("Application Execution Completed")
            $("#output").text(JSON.stringify(data))
        }
    }
    )

}

function getMLResponseImage()
{
    console.log("creating response data")
    $.ajax({
        //url:"http://52.172.179.169/v1/GetMlResponseImage",
        url:"http://52.172.179.169/v1/GetMlResponseImage",
        crossDomain: true,
        success:function(data, status)
        {
        }
    }
    )
}

function sendImage()
{
alert("Entered send image");
}

function createDockerFile(Platform,Version,Command,ImageName,AppName,EnvironmentVariables,Workdir)
{


    console.log("creating a docker file")
    $.ajax({
       // url:"http://"+ip+"/v1/CreateDockerFile",
	     url:"http://52.172.179.169/v1/CreateDockerFile",
        type:"POST",
		async: true,
        dataType:"json",
        contentType:"application/json",
		timeout:900000,
        data:
        JSON.stringify({
            AppName:AppName,
			AppPlatform:Platform,
			Version:Version,
			Command:Command,
			EnvironmentVariables:EnvironmentVariables,
			Workdir:Workdir
			
        }),
        success:function(data, status)
        {  
		
		  if(data.status==false)
			{
				   alert("Error while creating Dockerfile"); 
				   $("#dockerize_status").text("Dockerization failed. Retry")
			}
		else{
				alert("Docker file created successfully");		    
                createImage(ImageName,AppName)
				$("#output").text(JSON.stringify(data.path))
			}

    		
        },
 	error: function()
	 {
           alert("Error while creating Dockerfile"); 
   	 }

    }
    )
}

function createContainer()
{
    console.log("creating container")

    $.ajax({
       // url:"http://"+ip+"/v1/CreateContainer",
	    url:"http://52.172.179.169/v1/CreateContainer",
        type:"POST",
        dataType:"json",
	    async: true,
		timeout:0,
        contentType:"application/json",
        data:
        JSON.stringify({
            "ContainerName":"kushal_110",
            "ImageName":"first_1"
        })
    ,
    success:function(data, status)
    {
        $("#dockerize_status").text("Application Container Created")
		
		
    },
    error: function()
    {
         alert("Error while creating container"); 
     }

    }
    )
}

function check_process_status(process,task_name)
{
processid=process
task=task_name
 $.ajax({
        //url:"http://"+ip+"/v1/CreateImage",
		url:"http://52.172.179.169/v1/ProcessStatus",
        type:"POST",
        dataType:"json",
	    async: true,
        contentType:"application/json",
        data:
        JSON.stringify(
        {            
            "Process":processid
        })
    ,
    success:function(data)
    {
	
	  if(data.status==1)
	  {
	       if(interval!=undefined)
			{
				
			clearTimeout(interval);
				
			}
			
		   if(data.stderr.length==0)
		   {
				
				if(task=='createImage')
				{
					alert("Image created successfully");
			
					$("#dockerize_status").text("Application Dockerized !")	
					if(IsPush)
					{
					$("#dockerize_status").text("Application Dockerized! Pushing Image to Hub...")	
					loginToDockerHub();
					}
				
				}
				if(task=='createContainer')
				{
					alert("Conatiner created successfully");
					$("#run_status").text("Application Containerized ! Endpoint : http://52.172.179.169:"+TargetPort)
					
				}
				if(task=='pushImage')
				{
					alert("Image pushed successfully to Docker Hub created");
					$("#dockerize_status").text("Image pushed to Docker Hub!")
					
				}
				if(task=='UploadApp')
				{
					alert("Application successfully loaded");
					console.log("application loaded")
					$("#load_status").text("Application loaded at"+ App_Path)
				}
			}
			else
			{
			
				if(task=='createImage')
				{
					alert("Image creation Failed !"+"  "+data.stderr);
				}
				if(task=='createContainer')
				{
					alert("Container creation Failed !"+"  "+data.stderr);
				}
				if(task=='pushImage')
				{
					alert("Pusing image Failed !"+"  "+data.stderr);
				}
				if(task=='UploadApp')
				{
					alert("Application upload Failed !"+"  "+data.stderr);
		
				}				
			}
	  }
	  
	  if(data.status==0)
	  {
	   succeed=false

	   interval = setTimeout(function(){check_process_status(processid,task);},30000);  

	  }
	  
	  if(data.status==2)
	  {
	     if(interval!=null)
		 {
		 clearTimeout(interval);
		 }
	  }
    }
})

}

function loginToDockerHub()
{
 $.ajax({
       // url:"http://"+ip+"/v1/CreateContainer",
	    url:"http://52.172.179.169/v1/LoginDockerHub",
        type:"POST",
        dataType:"json",
	    async: true,
		timeout:0,
        contentType:"application/json"
    ,
    success:function(data, status)
    {
      if(data.status==1)
	  {
		pushImageToHub();
	  }
	  
    },
    error: function()
    {
         alert("Error while logging to Docker Hub"); 
     }

    }
    )
}

function logoutFromDockerHub()
{
 $.ajax({
       // url:"http://"+ip+"/v1/CreateContainer",
	    url:"http://52.172.179.169/v1/LogoutDockerHub",
        type:"POST",
        dataType:"json",
	    async: true,
		timeout:0,
        contentType:"application/json"
    ,
    success:function(data, status)
    {
      if(data.status==1)
	  {
		alert("Logged out from hub");
	  }
	  
    },
    error: function()
    {
         alert("Error while logging out from Docker Hub"); 
     }

    }
    )
}

function pushImageToHub()
{
	$.ajax({
       // url:"http://"+ip+"/v1/CreateContainer",
	    url:"http://52.172.179.169/v1/PushImage",
        type:"POST",
        dataType:"json",
	    async: true,
		timeout:0,
        contentType:"application/json"
    ,
    success:function(data, status)
    {
      if(data.status == true)
	  {
		//alert("Image sucessfully pushed to Docker Hub")
		 check_process_status(data.process,"pushImage");
		
	  }
	  else{
	   alert("Error while pushing image to Docker hub"); 
	  }
	  
    },
    error: function()
    {
         alert("Error while pushing image to Docker hub"); 
     }

    }
    )

}
function createImage(ImageName,AppName)
{
    console.log("creating image")
    $.ajax({
        //url:"http://"+ip+"/v1/CreateImage",
		url:"http://52.172.179.169/v1/CreateImage",
        type:"POST",
        dataType:"json",
	    async: true,
		timeout:900000,
        contentType:"application/json",
        data:
        JSON.stringify(
        {
            
            "ImageName":ImageName,
			"AppName":AppName
        })
    ,
    success:function(data, status)
    {
       

	  if(data.status == false)
	  {
	  //alert("Image created successfully");
	   alert("Error while creating Image"); 
	   //$("#dockerize_status").text("Dockerization failed. Retry")
	  }
	  else{
	   check_process_status(data.process,"createImage");
	   //setInterval(check_process_status(data.process),9000);
		//setTimeout(show(),1000);
	    
		
	
	  }

    },
    error: function()
    {
         //alert("Image created successfully");
		 //alert("Error while creating Image"); 
    }

    }
    )
}

function run(ImageName,Port,DeploymenType,ContainerName,TargetPort)
{
   console.log("running container")
   $.ajax({
        //url:"http://"+ip+"/v1/Run",
		url:"http://52.172.179.169/v1/Run",
        type:"POST",
        dataType:"json",
	    async: true,
		timeout:0,
        contentType:"application/json",
        data:
        JSON.stringify(
        {
            "Port":Port, 
            "Deployment":DeploymenType,
            "ContainerName":ContainerName,
	        "ImageName":ImageName,
			"TargetPort":TargetPort
        })
    ,
    success:function(data)
    {
    
	  if(data.status == false)
	  {
	   alert("Error while creating container"); 
	   $("#run_status").text("Application failed. Retry")
       $("#output").text("")
	  }
	  else
	  {
	    check_process_status(data.process,"createContainer");
	    //alert("Conatiner created successfully");
	  }
    },
    error: function()
    {
         alert("Error while creating container"); 
     }
    }
    )

   
}
function shuffleImages()
{
    console.log("shuffle requested")
    $.post("/test/shuffler",
    {},
    function(data, status)
    {
      location.reload()
    }
   )
}
</script>

<div class="container">
  <h2>Containers on the go!</h2>
  <p>Upload, Transform and Deploy Containers</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
         <img src="static\images\floppy.png" alt="Lights" style="width:100%" height="50" width="50">
          <div class="caption">
            <p><button type="button" id="btnLoad" class="btn btn-primary btn-block">Load</button></p>
		<input type="file" id="file" name="file" style="display: none"/>
            <p id="load_status">Not started yet<p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="static\images\docker.png" alt="Nature" style="width:100%">
          <div class="caption">
            <p><button type="button" id="btnDockerize" class="btn btn-primary btn-block" >Dockerize</button></p>
            <p id="dockerize_status">Not started yet<p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="static\images\rocket.png" alt="Fjords" style="width:100%">
          <div class="caption">
            <p><button type="button" id="btnRun" class="btn btn-primary btn-block">Run</button></p>
            <p id="run_status">Not started yet<p>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-4">
  <p style="color:blue;" id="output">No Output Received Yet<p>
  </div>
  </div>
</div>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Dockerization form</h4>
        </div>
        <div class="modal-body">
		
		<table>
		
		<tr>
        <td><label>Application Platform:</label></td>
      	   	
		<td> <select id="platformlist" onchange="populatelist()" title="This is the application platform on which your application runs">
		 <option value='Select platform'>Select Platform</option>
 		 <option value='Python'>Python</option>
  		 <option value='C#'>C#</option> 	
		 </select>
		</td>
		</tr>
		
		<tr>
         <td> <label>Version :</label> </td>
      	 <td><select id="versionlist" title="This is the version of the application platform"> </select></td>
		</tr>
		
		<tr>
	    <td><label>Enter the command to execute:</label></td>
		<td><input type="text" id="command" title="This is the main method that starts the application"/><br></td>
		</tr>

		<tr>
	    <td><label>Enter Image Name :</label></td>
		<td><input type="text" id="Image_Name" title="This is the name that will get assigned to docker image"/><br></td>
		</tr>
			
		<tr>
	    <td><label>Enter Environment Settings :</label></td>
		<td><input type="text" id="env_settings" title="Enter environment settings in a space seperated fashion"/><br></td>
		</tr>
		
		<tr>		
	    <td><label>Enter Application Folder name :</label></td>
		<td><input type="text" id="app_name" title="This is the name of the folder which contains your applictaion"/><br></td>
		</tr>
		
		<tr>
	    <td><label>Enter Working Directory :</label></td>
		<td><input type="text" id="workdir" title="Provide the excat working directory of the application else it would be same as application folder name"/><br></td>
		</tr>
		
		<tr>
		<td><label>Push Image to Docker Hub :</label></td>
		<td>
		 <input type="radio" id="docker_hub_Yes" value="Yes">Yes<br>
         <input type="radio" id="docker_hub_No" value="No"> No<br>
		</td>
		</tr>
		
		</table>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="submitDockerizeForm()">Submit</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="myLoadModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Application load form</h4>
        </div>
        <div class="modal-body">
		
		
        <label>Application Platform:</label>
      	   	
		<select id="uploadlist" onchange="onUploadChange()" >
		 <option value='Select the mode of uploading application'>Select Mode</option>
 		 <option value='Local Machine'>Local Machine</option>
  		 <option value='Cloud'>Cloud</option> 	
		 </select><br>
		
		<table id="tbl_appUpload" style="visibility:hidden">
             <tr><td><label id="lbl_url">Enter the url :</label></td>
      	     <td><input type="text" id="txt_url" /></td>
		     </tr>
		 </table>
	
        <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="submitApplicationUploadForm()">Submit</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myRunModel" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Deployment form</h4>
        </div>
        <div class="modal-body">
       	  
		 
         <label>Deployment:</label>
      	 &nbsp;  	 &nbsp; 
		 <select id="deploymentlist" onchange="populateRunForm()" title="This list all the available deployment types for running docker image">
		 <option value='Select platform'>Select Deployment Platform</option>
 		 <option value='Docker'>Docker</option>
  		 <option value='Kubernetes'>Kubernetes</option> 	
 		 <option value='Service Fabric'>Service Fabric</option> 	
		 </select><br>
 
        <table id="table1" style="visibility:hidden">
		<tr>
		<td><label>Enter Container name :</label></td>
		<td><input type="text" id="container_name" title="This is the name that will be assinged to your application container"/><br></td>
		</tr>
		
		<tr>
		<td><label>Enter port for running service :</label></td>
		<td><input type="text" id="_port" title="This is the port on which your application's service runs"/><br></td>
		</tr>
		
		<tr>
		<td><label>Enter port for exposing container :</label></td>
		<td><input type="text" id="target_port" title="This is the port on which you want to expose your container"/><br></td>
		</tr>
		
		<tr>
		<td><label>Enter Image name :</label></td>
		<td><input type="text" id="image_name" title="This is the docker image which is to be used to containerize your application" /><br></td>
		</tr>
		</table>
		
		
         <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="submitRunForm()">Submit</button>
        </div>
      </div>

	  

  
</div>

{% endblock %}
