{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h2>Scanner Cam Feeds</h2>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://asterix.blob.core.windows.net/cam-images/parking1.jpg" target="_blank">
          <img src="https://asterix.blob.core.windows.net/cam-images/parking1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Camera:1</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://asterix.blob.core.windows.net/cam-images/parking2.jpg" target="_blank">
          <img src="https://asterix.blob.core.windows.net/cam-images/parking2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Camera:2</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://asterix.blob.core.windows.net/cam-images/parking3.jpg" target="_blank">
          <img src="https://asterix.blob.core.windows.net/cam-images/parking3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Camera:3</p>
          </div>
        </a>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://asterix.blob.core.windows.net/cam-images/parking4.jpg" target="_blank">
          <img src="https://asterix.blob.core.windows.net/cam-images/parking4.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Camera:4</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://asterix.blob.core.windows.net/cam-images/parking5.jpg" target="_blank">
          <img src="https://asterix.blob.core.windows.net/cam-images/parking5.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Camera:5</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://asterix.blob.core.windows.net/cam-images/parking6.jpg" target="_blank">
          <img src="https://asterix.blob.core.windows.net/cam-images/parking6.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Camera:6</p>
          </div>
        </a>
      </div>
    </div>
  </div>
 </div>


{% endblock %}
